extends layout

block content
  h1 #{pageText}
  div.container
  if(typeof cart !== "undefined")
    each item in cart
       h3.id
          | Product ID: #{item.id}, Quantity: #{item.qty}
   else
      h1 Empty Cart


        