extends layout

block content
  div 
    .card
      img(src='/images/grand_canyon.JPG' alt='Grand Canyon Watercolor' style='width:33%')
      div
        .description
         h4  
            b Grand Canyon Watercolor
