doctype html
html
    head
        title= OpenHeart
        link(rel='stylesheet', href='/stylesheets/style.css')
    body        
        nav
            div
                h1 Openheart
            ul
                li
                    a(href='//localhost:3000/') Home
                li
                    a(href='//localhost:3000/products') Products
                li
                    a(href='//localhost:3000/cart/checkout') My Cart(
                        if(typeof sess !== "undefined")
                            if(typeof sess.cart !== "undefined")
                                | #{sess.cart.length})
                            else    
                                | 0)
                        else
                            | 0)
                li(style='float:right')
                    a(href='//localhost:3000/login')
                        if(typeof sess !== "undefined")
                            if(typeof sess.user !== "undefined")
                                | Logout
                            else
                                | Login    
                        else
                            | Login
                  
        block content

