doctype html
html
    head
        title= OpenHeart
        link(rel='stylesheet', href='/stylesheets/style.css')
    body        
        nav
            div
                h1 Openheart
            ul
                li
                    a(href='//localhost:3000/') Home
                li
                    a(href='//localhost:3000/about') About
                li
                    a(href='//localhost:3000/products') Products
        block content

