extends layout

//This page contains a popup modal for the user to log into their account
block content
   div.modal
      div.modal-content
         form(action = '/login' method = "POST")
            input(type="hidden", name="_csrf", value="#{csrfToken}")
            input.middle(name = "username" type = "text" required placeholder = "Username")
            input.middle(name = "password" type = "password" required placeholder = "Password")
            button.button-submit(type = "Submit") Login
            p #{message}         
